

.navbarclass{
   z-index: 100;
}
#navbar-example2{
    position: sticky;
    top: 0;
    background-color: rgb(52, 51, 51);
}
.navbar .navbar-brand{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 3%;
   
}
.nav-link{
    color: white;
}


p{
    font-size: larger;
}
h1{
    text-transform: uppercase;
}
.image_dp{
    width: 300px;
    position: relative;
    z-index: 50;
    
    
}
/* .grid_2{
    margin-left: 5%;
} */



.skill_list{
    font-size: larger;

}

.nav-pills .nav-link.active{
    color: black;
    background-color: white;
    font-weight: bold;
}

.mywork{
    font-size: 40px;
    
}
.contactme{
    text-align: center;
    font-size: 40px;
}
.iconsdiv i{
    padding: 15px;

}
footer{
    text-align: center;
    padding-top: 20px;
    background-color:  rgb(52, 51, 51);
    color: white;
    height: 80px;
}
.intro_pad{
    padding-bottom: 10%;
}
@media (max-width:700px){
    p{
        font-size: small;
    }
    h1{
        font-size: large;
    }
    li{
        font-size: small;
    }
}